.recipe-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;

}

.recipe-card__image-wrapper {
  position: relative;

  display: block;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.recipe-card__image-wrapper:hover {
  opacity: 0.9;
}

.recipe-card__image {
  width: 100%;
  height: auto;
  display: block;
}

.recipe-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 20px 5px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.recipe-card__title {
  margin: 0;
}

.recipe-card__read-more {
  display: flex;
  align-items: center;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .recipe-card__content {
    
    /* gap: 20px; */
  }
}

@media (min-width: 992px) {
  .recipe-card__content {
   
    gap: 24px;
  }
}
