.wl-sec__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-5, 20px);
  width: 100%;
  margin-bottom: var(--space-5, 24px);
}

.wl-sec__header--left {
  align-items: flex-start;
  text-align: left;
}

.wl-sec__header--center {
  align-items: center;
  text-align: center;
}

.wl-sec__header--right {
  align-items: flex-end;
  text-align: right;
}

.wl-sec__headline {
  width: 100%;
  max-width: 866px;
}

.wl-sec__subheadline {
  width: 100%;
  max-width: 866px;
}

.wl-sec__subheadline.wysiwyg-content {
  margin: 0;
}

[data-theme="lays"] .wl-sec__header .heading {
  color: var(--color-danger);
  text-transform: uppercase;
  font-weight: 900;
}

@media (min-width: 768px) {
  .wl-sec__header {
    gap: var(--space-6, 24px);
  }
}
