.wl-sec__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-4, 20px);
  width: 100%;
  margin-bottom: var(--space-5, 24px);
  align-items: center;
  text-align: center;
}

.wl-sec__headline {
  width: 100%;
  max-width: 866px;
}

.wl-sec__subheadline {
  width: 100%;
  max-width: 866px;
}

.wl-sec__subheadline.wysiwyg-content {
  margin: 0;

}
.wl-sec__subheadline.wysiwyg-content *{
    font-weight: 700;
    font-size: 18px;
    opacity: 0.9;
}

@media (min-width: 768px) {
  .wl-sec__header {
    gap: var(--space-4, 20px);
     margin-bottom: var(--space-6, 32px);
  }
}
