.text-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--color-brand-primary);
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .text-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (min-width: 992px) {
  .text-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

